@font-face {
    font-family: "RobotoRegular";
    src: url("/inc/fonts/RobotoRegular/RobotoRegular.eot");
    src: url("/inc/fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("/inc/fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("/inc/fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoLight";
    src: url("/inc/fonts/RobotoLight/RobotoLight.eot");
    src: url("/inc/fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
    url("/inc/fonts/RobotoLight/RobotoLight.woff") format("woff"),
    url("/inc/fonts/RobotoLight/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoMedium";
    src: url("/inc/fonts/RobotoMedium/RobotoMedium.eot");
    src: url("/inc/fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
    url("/inc/fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
    url("/inc/fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoBold";
    src: url("/inc/fonts/RobotoBold/RobotoBold.eot");
    src: url("/inc/fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
    url("/inc/fonts/RobotoBold/RobotoBold.woff") format("woff"),
    url("/inc/fonts/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
