<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>PAYEPE</title>
</head>
<body>
{% block content %}{% endblock %}
<br><br>
По всем вопроса: <a href="mailto:admin@payepe.com">admin@payepe.com</a>
{% block scripts %}{% endblock %}
</body>
</html>
