{% extends 'base.html.twig' %}

{% block body %}
    <div><h1>Вы получили ваучер для возврата средств</h1></div>
    <div>
        <p>Для того что бы использовать его, <a href="/registration" target="_blank">зарегистрируйтесь</a> и <a href="/private" target="_blank">войдите</a> в аккаунт</p>
        <p>В верхнем правом углу нажмите на иконку для перехода в режим кошелька</p>
        <p>Перейдите в раздел "ваучер"</p>
        <p>Скопируйте ключ из письма в специальное поле и нажмите "применить"</p>
        <p>Через несколько секунд средства поступят на баланс</p>
    </div>
{% endblock %}
